<%= form_with(model: @parking_lot, class: "space-y-6" ) do |f| %>
  <%= render 'shared/error_messages', object: @parking_lot %>

  <section class="border border-gray-200 p-6 rounded-lg bg-white">
    <h3 class="text-xl font-semibold text-indigo-600 mb-4 border-b pb-2">基本情報</h3>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">

      <div class="col-span-1 sm:col-span-2">
        <%= f.label :name, '駐車場エリア名', class: "auth-label" %>
        <%= f.text_field :name, autofocus: true, class: "auth-input" %>
      </div>


      <div class="field">
  <%= f.label :prefecture, '都道府県', class: "auth-label" %>
  <%= f.select :prefecture,
        prefecture_options,
        { include_blank: "選択してください" },
        { class: "auth-input cursor-pointer" }
  %>
      </div>

      <div class="col-span-1 sm:col-span-2">
        <%= f.label :city, '市区町村', class: "auth-label" %>
        <%= f.text_field :city, class: "auth-input" %>
      </div>

      <div class="col-span-1 sm:col-span-2">
        <%= f.label :street_address, '丁目番地号', class: "auth-label" %>
        <%= f.text_field :street_address, class: "auth-input" %>
      </div>

      <div class="col-span-1 sm:col-span-2">
        <%= f.label :description, '説明、概要', class: "auth-label" %>
        <%= f.text_area :description, rows: 5, class: "auth-textarea" %>
      </div>

      <div>
        <%= f.label :total_spaces, '総駐車台数(最大99台)', class: "block text-sm font-medium text-gray-700" %>

        <%= f.number_field :total_spaces,
        min: 1,
        max: 99,
        class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm",
        placeholder: "例: 25" %>

      <p class="mt-2 text-xs text-gray-500">
      ※1台から99台まで登録できます。
      </p>
      </div>
    </div>
  </section>

  <div class="actions pt-4">
    <%= f.submit (parking_lot.new_record? ? "作成" : "更新する"), 
  class: "auth-submit" %> 
  </div>
<% end %>
