<%= render layout: 'parking_managers/shared/auth_card', locals: { title: "パスワードをリセット" } do %>
  <p class="text-center text-gray-500 text-sm">
  ご登録のメールアドレスを入力してください。
  </p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "mt-8 space-y-6" }) do |f| %>

    <%= render "parking_managers/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "block text-sm font-medium text-gray-700 sr-only" %> 
      <div class="mt-1">
        <%= f.email_field :email, 
          autofocus: true, 
          autocomplete: "email",
          placeholder: "メールアドレス",
          class: "auth-input"%>
      </div>
    </div>

    <div class="actions pt-2">
      <%= f.submit "パスワードリセット手順を送信", 
        class: "auth-submit" %>
    </div>
  <% end %>

  <div class="mt-4 text-center">
    <%= back_link_to 'ログイン画面へ戻る', new_session_path(resource_name) %>
  </div>
<% end %>
