<div class="flex justify-center min-h-screen bg-gray-100 pt-16">
  <div class="w-full max-w-md p-8 space-y-6 bg-white rounded-xl shadow-lg h-fit">
    
    <h2 class="text-3xl font-extrabold text-center text-gray-900">
      パスワードをリセット
    </h2>
    <p class="text-center text-gray-500 text-sm">
      ご登録のメールアドレスを入力してください。
    </p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "mt-8 space-y-6" }) do |f| %>
      
      <%= render "parking_managers/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "block text-sm font-medium text-gray-700 sr-only" %> 
        <div class="mt-1">
          <%= f.email_field :email, 
            autofocus: true, 
            autocomplete: "email",
            placeholder: "メールアドレス",
            class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
      </div>

      <div class="actions pt-2">
        <%= f.submit "パスワードリセット手順を送信", 
            class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer transition duration-150 ease-in-out" %>
      </div>
    <% end %>

    <div class="mt-4 text-center">
      <%= link_to 'ログイン画面へ戻る', new_session_path(resource_name), class: "px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 transition duration-150" %>
    </div>
  </div>
</div>
