<%# app/views/layouts/admin.html.erb %>
<!DOCTYPE html>
<html>
  <head>
    <title>管理画面 | CarParking Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="flex flex-col md:flex-row">
      <%= render 'shared/sidebar_admin' %>

      <main class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">
        <div class="bg-white shadow p-4 mb-4">
          <span class="text-gray-600">管理者: <%= current_admin.full_name %></span>
        </div>

        <%= yield %>
      </main>
    </div>
  </body>
</html>
