<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "駐車場管理システム" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Myapp">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% if parking_manager_signed_in? &&
        !session[:needs_verification] &&
        controller_path != 'parking_managers/sessions' &&
        controller_path != 'parking_managers/devices' &&
        action_name != 'verified_success' &&
        action_name != 'wait_verification' %>

      <%= render 'shared/header_signed_in' %>
      <div class="flex min-h-screen bg-sky-50 md:bg-transparent" id="wrapper">
        <%= render 'shared/sidebar_dashboard' %>

        <main class="flex-grow flex flex-col md:ml-64 mt-16 bg-sky-50 md:bg-background">
          <%= render 'shared/flash_messages' %>
          <div class="p-4 md:p-8 flex-grow">
            <div class="bg-white md:bg-transparend rounded-xl p4 md:p-0 shadow-sm md:shadow-none">
              <%= yield %>
            </div>
          </div>
        </main>
      </div>
    <% else %>
      <%= render 'shared/header_public' %>
      <main class="min-h-screen flex flex-col">
        <%= render 'shared/flash_messages' %>
        <div class="flex-grow">
          <%= yield %>
        </div>
        <% unless parking_manager_signed_in? %>
          <%= render 'shared/footer_public' %>
        <% end %>
      </main>
    <% end %>
  </body>
</html>
